@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:wght@400;500;700&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: block;
}

/* HERO SECTION */
#hero {
  overscroll-behavior: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

#hero .container {
  width: 100vw;
  height: 100vh;
  font-size: 1.5rem;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

#hero .details {
  position: absolute;
  top: 45%;
  left: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  width: 100%;
  height: 50%;
}

#hero .container img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

#hero .container .title {
  font-size: 5rem;
  font-weight: 700;
  line-height: 80px;
  height: calc(2 * 80px);
  overflow: hidden;
  width: 50%;
}
#hero .container .description {
  line-height: 28px;
  height: calc(2 * 28px);
  overflow: hidden;
  width: 50%;
  font-weight: 500;
}

/* CAROUSEL SECTION */
#carousel {
  color: #fff;
  position: relative;
}

#carousel h1 {
  color: #b3995d;
  text-align: center;
  margin: 2rem auto;
  font-size: 3rem;
  font-weight: 700;
}

#carousel .carousel-container {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
}

#carousel .carousel-container::after {
  content: '';
  background-image: linear-gradient(180deg, transparent, #000);
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#carousel .carousel-container img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#carousel .carousel-container .product {
  position: absolute;
  bottom: 10%;
  left: 5%;
  font-size: 2.5rem;
  z-index: 10;
}

#carousel .carousel-container a {
  font-size: 2.5rem;
  font-weight: 500;
  position: sticky;
  top: 90%;
  margin: 0% 0% 5% 20%;
  z-index: 10;
}

/* ROTATOR SECTION */
#rotator {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#rotator h1 {
  color: #b3995d;
  text-align: center;
  margin: 2rem auto 0;
  font-size: 3rem;
  font-weight: 700;
}

#rotator .container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 2rem 0;
}

#rotator .container .right-content {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#rotator .container .left-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 1rem;
  position: sticky;
  top: 45%;
}

#rotator .container .left-content .left-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.75rem;
}

#rotator .container .left-content .left-inner > span:first-of-type {
  position: relative;
  color: #9a9b9c;
  font-weight: 500;
}

#rotator .container .left-content .left-inner > span:first-of-type::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid #9a9b9c;
  width: 50%;
  left: 50%;
  transform: translate(-50%);
  bottom: -10%;
  display: block;
  margin: 0 auto;
}

#rotator .container .left-content .left-inner p span:first-of-type {
  font-size: 3.5rem;
}

#rotator .container .left-content .left-inner p span:first-of-type,
#rotator .container .left-content .left-inner p span:last-of-type {
  color: #002664;
}

#rotator .container .left-content .left-inner p span:nth-child(2) {
  color: #9a9b9c;
}

#rotator .container .left-content .right-inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#rotator .container .left-content .right-inner a {
  position: relative;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background: #000;
}

#rotator .container .left-content .right-inner a.active + a {
  background: #9a9b9c;
}

#rotator .container .left-content .right-inner a.active:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  border: 1px solid #9a9b9c;
}

#rotator .right-content {
  position: relative;
}

#rotator .right-content div {
  z-index: 10;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  position: absolute;
  bottom: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#rotator .right-content img.rotator-bg-image {
  width: 100%;
  height: 100%;
  object-position: 0 0;
}

#rotator .right-content::after {
  content: '';
  background-image: linear-gradient(180deg, transparent, #000);
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#rotator .right-content a {
  width: 3.5rem;
  color: #fff;
}

/* FOOTER */
footer {
  width: 100%;
  height: 6rem;
  background-color: #001332;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer svg {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }

  #rotator .left-content {
    display: none !important;
    visibility: hidden !important;
  }

  #rotator .right-content {
    width: 100% !important;
  }

  #carousel .carousel-container .product,
  #carousel .carousel-container a {
    font-size: 2rem;
  }

  #carousel .carousel-container a {
    margin-left: 40%;
  }
}
