@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://db.onlinewebfonts.com/c/d414e85093c9a428dbde5f2b4c39f187?family=Berling+Nova+Sans+W04+Regular');

@font-face {
  font-family: 'Cordale';
  src: url('./fonts/Cordale.ttf') format('truetype');
  font-weight: 400;
}

:root {
  --white: #fff;
  --black: #000;
  --gold: #b3995d;
  --blue: #002664;
  --dark-blue: #001332;
  --gray: #9a9b9c;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  cursor: pointer;
}

body {
  font-weight: 400;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: block;
}

/* HERO SECTION */
#hero {
  overscroll-behavior: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

#hero .container {
  width: 100vw;
  height: 100vh;
  font-size: 1.5rem;
  color: var(--white);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

#hero .details {
  position: absolute;
  top: 45%;
  left: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  width: 100%;
  height: 50%;
}

#hero .container img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

#hero .container .title {
  font-family: 'Cordale';
  font-size: 80px;
  line-height: 106px;
  height: calc(2 * 106px);
  overflow: hidden;
  width: 60%;
}
#hero .container .description {
  font-family: 'Berling Nova Sans W04 Regular';
  line-height: 17px;
  height: calc(2 * 17px);
  font-size: 14px;
  overflow: hidden;
  width: 60%;
}

/* CAROUSEL SECTION */
#carousel {
  position: relative;
  display: block;
  color: var(--white);
  margin: 40px 40px 0;
  font-family: 'Cordale';
  font-weight: 400;
}

#carousel h1 {
  font-size: 90px;
  font-weight: 400;
  color: var(--gold);
  text-align: center;
  margin: 2rem auto;
  line-height: 80px;
}

#carousel .carousel-container {
  display: block;
  position: relative;
  width: inherit;
  height: 800px;
  margin: 1rem 0;
}

#carousel .carousel-container::after {
  content: '';
  background-image: linear-gradient(180deg, transparent, #000);
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#carousel .carousel-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#carousel .carousel-details {
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 5%;
  left: 0%;
  width: -moz-available;
  margin: 0 3rem;
  z-index: 2;
}

#carousel .carousel-container .title {
  font-size: 40px;
  position: sticky;
  top: 90%;
  margin: 0% 0% 55px 20%;
  z-index: 2;
}

/* ROTATOR SECTION */
#rotator {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#rotator h1 {
  font-family: 'Cordale';
  font-weight: 400;
  color: var(--gold);
  text-align: center;
  margin: auto 0;
  font-size: 90px;
}

#rotator .container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 800px;
  margin: 0.5rem 0;
}

#rotator .container .right-content {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#rotator .container .left-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 1rem;
  position: sticky;
  top: 45%;
}

#rotator .container .left-content .left-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

#rotator .container .left-content .left-inner > span:first-of-type {
  font-family: 'Berling Nova Sans W04 Regular';
  position: relative;
  color: var(--gray);
  font-size: 18px;
}

#rotator .container .left-content .left-inner > span:first-of-type::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid var(--gold);
  width: 50%;
  left: 50%;
  transform: translate(-50%);
  bottom: -10%;
  display: block;
  margin: 0 auto;
}

#rotator .container .left-content .left-inner p span:first-of-type {
  font-size: 75px;
  font-style: italic;
}

#rotator .container .left-content .left-inner p span:first-of-type,
#rotator .container .left-content .left-inner p span:last-of-type {
  color: var(--blue);
}

#rotator .container .left-content .left-inner p span:nth-child(2) {
  color: var(--gold);
}
#rotator .container .left-content .left-inner p span:last-of-type {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  font-size: 25px;
}

#rotator .container .left-content .right-inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#rotator .container .left-content .right-inner a {
  position: relative;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background: var(--black);
}

#rotator .container .left-content .right-inner a.active + a {
  background: #afafaf;
}

#rotator .container .left-content .right-inner a.active:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  border: 1px solid var(--gray);
}

#rotator .right-content {
  position: relative;
}

#rotator .right-content div {
  font-family: 'Cordale';
  z-index: 10;
  color: var(--white);
  font-size: 40px;
  position: absolute;
  bottom: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#rotator .right-content img.rotator-bg-image {
  width: 100%;
  height: 100%;
  object-position: 0 0;
  object-fit: cover;
}

#rotator .right-content::after {
  content: '';
  background-image: linear-gradient(180deg, transparent, #000);
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#rotator .right-content a {
  width: 54px;
  color: var(--white);
}

/* FOOTER */
footer {
  width: 100%;
  height: 91px;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer svg {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
  #hero .container .title {
    font-size: 80px;
  }

  #rotator {
    width: 90%;
  }

  #rotator .container {
    margin: 10px 0;
  }

  #rotator .left-content {
    display: none !important;
  }

  #rotator .right-content {
    width: 100% !important;
  }

  #carousel .carousel-container,
  #rotator .container {
    height: 500px;
  }

  #carousel,
  #rotator {
    margin: 20px 20px 0;
  }

  #rotator h1,
  #carousel h1 {
    font-size: 50px;
  }

  #rotator .right-content div,
  #carousel .carousel-details,
  #carousel .carousel-container .product,
  #carousel .carousel-container .title {
    font-size: 28px;
  }

  #carousel .carousel-container a {
    margin-left: 40%;
  }
}
